@model Specials.UI.Models.PlaceVM

@{
    ViewBag.Title = "PlaceDetails";
}

<h2>PlaceDetails</h2>

<div>
    <h4>PlaceVM</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
